In [ ]:
from google.colab import drive
drive.mount('/content/drive')

#!ln -s "/content/drive/MyDrive/EMTD_Sample/" "/content/EMTD/"
#import pandas as pd
#df = pd.read_csv('/content/EMTD/EMTD_Sample/Detection_v1/GT39.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
df = pd.read_csv('/content/adv_dayE.csv', header=None)
df.size

2274

In [2]:
df.columns = ['image_name', 'x_min',	'y_min','x_max','y_max','class_name']
df.iloc[23]

image_name    evening_sun180_0005.jpg
x_min                            1123
y_min                             469
x_max                            1144
y_max                             491
class_name       Traffic lights ahead
Name: 23, dtype: object

In [ ]:
rows = df.shape[0]
df.iloc[0][0]

'DSC-0134.JPG'

In [ ]:
labels = []
for i in range(rows):
  l = df.iloc[i][5]
  if l in labels:
    pass
  else:
    labels.append(l)

In [ ]:
labels

In [ ]:
len(labels)

40

In [ ]:
df = pd.DataFrame(labels)

In [ ]:
df

In [ ]:
df.to_csv('/content/labels_3.csv', index=False)

In [ ]:
'''
for i in range(rows):
  file = df.iloc[i][0]
  if (file != 'P1860652.jpg') or (file !='P1860653.jpg') or (file !='P1860654.jpg') or (file !='P1860655.jpg') or (file !='P1860656.jpg'):
    if (file[0] == 'P') or (file[0] == 'D'):
      file = file.replace("jpg", "JPG")
      df.at[i,'0'] = file
      #df.iloc[i][0] = file
  else:
    print(file)
'''
for i in range(rows):
  file = df.iloc[i][0]
  if (file != 'P1860652.jpg') and (file !='P1860653.jpg') and (file !='P1860654.jpg') and (file !='P1860655.jpg') and (file !='P1860656.jpg'):
    if (file[0] == 'P') or (file[0] == 'D'):
      file = file.replace("jpg", "JPG")
      df.at[i, 0] = file
      #df.iloc[i][0] = file

df.to_csv('students.csv', index=False)

In [ ]:
df

                 0     1     2     3     4          5
0         1078.jpg  1626   675  1646   705     U-turn
1         1078.jpg  1395   715  1403   726     U-turn
2         1079.jpg  1360   762  1385   794     U-turn
3         1080.jpg  1818   822  1921   946     U-turn
4         1092.jpg  2145   465  2254   597     U-turn
...            ...   ...   ...   ...   ...        ...
2621  P1860641.JPG   322  1934   446  2028  Split way
2622  P1860643.JPG  1058  1582  1221  1747  Split way
2623  P1860644.JPG  2572  1516  2783  1727  Split way
2624  P1860647.JPG  2456  1803  2686  2036  Split way
2625  P1860652.jpg   890   523   914   548  Split way

[2626 rows x 6 columns]

In [4]:
import pandas as pd
df = pd.read_csv('/content/adv_dayE.csv', header=None)
df.size

2274

In [111]:
df.columns = ['image_name', 'x_min',	'y_min','x_max','y_max','class_name']

In [74]:
df.iloc[12][0]

'sun90_0194.jpg'

In [5]:
df

                           0      1      2      3      4                     5
0                 image_name  x_min  y_min  x_max  y_max            class_name
1    evening_sun180_0001.jpg    927    480    953    506        Speed limit 30
2    evening_sun180_0001.jpg    923    445    958    480            Crossroads
3    evening_sun180_0001.jpg   1220    409   1267    457           Towing zone
4    evening_sun180_0001.jpg   1237    459   1268    487            No parking
..                       ...    ...    ...    ...    ...                   ...
374     fogpreetham_0244.jpg    728    286    887    430               Caution
375     fogpreetham_0248.jpg    663      4    836    191  Camera operated zone
376     fogpreetham_0248.jpg    658    225    837    395               Caution
377     fogpreetham_0250.jpg    644      6    824    178  Camera operated zone
378     fogpreetham_0250.jpg    647    204    825    392               Caution

[379 rows x 6 columns]

#Sorting and formating the virtual annotations

In [ ]:
rows = df.shape[0]
for i in range(rows):
  file = str(df.iloc[i][0])
  file = file.replace("sun90", "evening_sun180")
  print(file)
  #df.at[i, 0] = file
  df.at[i,'image_name'] = file

In [60]:
df.to_csv('/content/advDay2.csv', index=False)

In [106]:
df = df.sort_values(by = 'image_name')

In [107]:
df

               image_name  x_min  y_min  x_max  y_max            class_name
219  fogpreetham_0001.jpg    927    480    953    506        Speed limit 30
218  fogpreetham_0001.jpg    923    445    958    480            Crossroads
217  fogpreetham_0001.jpg   1220    409   1267    457           Towing zone
220  fogpreetham_0001.jpg   1237    459   1268    487            No parking
221  fogpreetham_0001.jpg   1121    470   1147    492  Traffic lights ahead
..                    ...    ...    ...    ...    ...                   ...
98   fogpreetham_0244.jpg    728    286    887    430               Caution
555  fogpreetham_0248.jpg    663      4    836    191  Camera operated zone
556  fogpreetham_0248.jpg    658    225    837    395               Caution
343  fogpreetham_0250.jpg    644      6    824    178  Camera operated zone
342  fogpreetham_0250.jpg    647    204    825    392               Caution

[608 rows x 6 columns]

In [7]:
labels = pd.read_csv('/content/Labels_virtual.csv', header=None)

In [ ]:
labels

In [108]:
df.to_csv("/content/fogpreetham.csv", index=False)